.hide {
    display: none;
}

.wrapper {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 500px;
}
#title {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 3em;
}
.image-wrapper {
    text-align: center; 
    padding: 30px; 
}
.intro {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}